@media (max-width:1030px){
    /*home*/
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 65% center;
        min-height: 550px;
    }
    .home .home-banner .home-banner-text{
        transform: translate(-80%, -50%);
    }
    /*offer css*/
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 3rem;
    }
}
@media (max-width:991px){
    /*home css*/
    .home .home-banner .home-banner-text{
        transform: translate(-66%, -50%);
    }
    /*offer css*/
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 2.5rem;
    }
}
@media (max-width:768px){
    /*home css*/
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 50% center;
        min-height: 450px;

    }
    .home .home-banner .home-banner-text{
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 3rem;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1.2rem;
    }
    .home .home-banner .home-banner-text .btn-damger{
        padding: 0.5rem 1.5rem;
    }
    .home .slider-icon{
        font-size: 2rem;
    }
    /*product css*/
    .products .up_to_contact h2{
        font-size: 1rem;
    }
    
}

@media (max-width:376px){
    .special .special-img img{
        height: 520px;
    }
    .special .countdown-container .countdown-counter li{
        padding: 1rem;
        width: 20%;
    }
    
    
    /*testimonials*/
    .testimonial .testimonial-wrapper{
        padding: 0.5rem;
       
        
    }
    /*contact css*/
    .contact .form-control{
        margin:0.7rem 0;
    }
    .contact textarea{
        margin: 0.7rem 0;
    }
    .contact button{
        margin: 0.7rem 0;
    }
    /*footer css*/
    #copy{
        
        margin-top: 1.4rem;
    }
    #design{
        margin-top: -5.4rem;
    }
    
}
@media (max-width:330px){
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }
    .products .up_to_contact h2{
        font-size: 0.20rem;
        
    }
    /*special css*/
    .special .special-img span, img{
        height: 600px;
    }
}


